<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Vaccination-Booking</title>

    <style>
        body {
            background-color: #fff;
        }
    </style>
</head>

<body>

   <nav class="navbar navbar-light">
    <span class="mx-auto">
        <h2>OTP Verification</h2>
    </span>
</nav>

<div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top:-65px; margin-right: 10px;">
    <button class="btn btn-primary" type="button" onclick="location.href='/signup'">Back to Sign Up</button>
</div>
<br><br>

<div class="container" style="width:35%">
    <div class="card text-center bg-dark">
        <div class="card-body text-dark bg-light mb-3">
            <div class="d-grid gap-2 d-md-flex justify-content">
                <div class="container-fluid">
                    <form action="/otp_verification" method="POST">
                        <br>
                        <h4>Enter the OTP sent to your phone:</h4>
                        <br>
                        <input class="form-control" type="text" name="otp" placeholder="Enter OTP" required>
                        <br>
                        <span id="error" style="color: red;">{{ error }}</span>
                        <br>
                        <button type="submit" class="btn btn-primary">Verify OTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>

</html>