<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/009/221/366/original/injection-vaccine-icon-filled-line-syringe-and-drugs-bottle-logo-medicine-and-healthcare-design-symbol-illustration-free-vector.jpg" type="image/icon type">
    <title>Vaccination-Booking</title>

    <style>
        body {
            background-color: #fff;
            color: #000000;
        }
        .navbar {
            background-color: #fff;
        }

    </style>
</head>

<body>

<section class="vh-100" style="background-color: #fff;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                  <span id="error" style="color:red;">{{error}}</span>
                <form class="mx-1 mx-md-4" id="signupForm"action="/signup" method="POST" onsubmit="return validateForm()">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input id="name" class="form-control" type="text" name="name" class="form-control" required />
                      <label class="form-label" for="name">Your Name *</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" name="email" id="email" class="form-control" required/>
                      <label class="form-label" for="email">Your Email *</label>
                    </div>
                  </div>

                     <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="number" name="age" min="18" max="60" id="age" class="form-control" required/>
                      <label class="form-label" for="age">Age *</label>
                    </div>

                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" name="password" id="password" class="form-control" required/>
                      <label class="form-label" for="password">Password *</label>
                    </div>

                    <span id="pass_error" style="color:red;"></span><br>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="confirmPassword" class="form-control" required/>
                      <label class="form-label" for="confirmPassword">Repeat your password *</label>
                    </div>
                  </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa-solid fa-mobile me-3 fa-fw fa-lg"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="number" name="ph_no" id="phone"  class="form-control" required/>
                      <label class="form-label" for="phone">Mobile Number *</label>
                    </div>
                  </div>

                   <span id="ph_error" style="color:red;"></span><br>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>
                  <p >Already an existing user? <a href="/login">Login Here!</a>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://media.istockphoto.com/id/1335455104/vector/vaccination-against-covid-19.jpg?s=612x612&w=0&k=20&c=RcoMfASNP81eproyHTW6sFCUk-cX4qLohY8HRm9qzxg="
                  class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br><br><br>

    <script>
        function validateForm() {
         var name = document.getElementById('name').value;
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            const phone = document.getElementById('phone').value;
            const email = document.getElementsByName('email')[0].value;
             var age = document.getElementsByName('age').value;
            const passwordPattern = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;

            const error = document.getElementById('error');
            const ph_error = document.getElementById('ph_error');
            const pass_error = document.getElementById('pass_error');

            if (password !== confirmPassword) {
                pass_error.textContent ="Passwords do not match.";
                return false;
            }

            if (!passwordPattern.test(password)) {
                pass_error.textContent ="Password should be at least 8 characters long and contain at least one letter, one number, and one special character.";
                return false;
            }

            if (phone.length !== 10 || isNaN(phone)) {
                ph_error.textContent ="Invalid phone number. Please enter a 10-digit phone number.";
                return false;
            }

            if (!validateEmail(email)) {
                error.textContent = "Invalid email address. Please enter a valid email address.";
                return false;
            }

            return true;
        }

        function validateEmail(email) {
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailPattern.test(email);
        }


    </script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
crossorigin="anonymous" referrerpolicy="no-referrer" />

</body>

</html>
