 <div class="container" id="dosage_details">
        <div class="card text-center bg-light">
            <div class="card-header text-dark bg-light">
                <h2>Dosage Details</h2>
            </div>
            <div class="card-footer">
                <br>

                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Center Name</th>
                            <th>Dosage</th>
                        </tr>
                    </thead>
                    <tbody class="table-primary">
                        {% for rows in dosage_data %}
                            {% for row in rows %}
                            <tr>
                                <td>{{row[0]}}</td>
                                <td>{{row[1]}}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
