<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Vaccination-Booking</title>

    <style>
        body.light {
            background-color: #fff;
            color: #000000;
        }

        .navbar {
            background-color: #fff;
        }


.logout{
    position:absolute;
    display:flex;
    justify-items: flex-end;
    border:0.16em solid rgba(203, 244, 21, 0);
    border-radius:4em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Gill Sans", sans-serif; 
    color:black;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    font-style: italic;
    font-size: 20px;
    line-height: 1.7;
}
.dropbtn {
  background-color: #FFEBA7;
  width:50px;
  height:50px;
  font-weight: bolder;
  border-radius: 50%;
  color: black;
  font-size: 26px;
  border: none;
  cursor: pointer;
}
.css1{
  font-size:50px;
  font-family: georgia;
  font-style:italic;
  font-weight:bold;
  color:#FFEBA7;
  text-shadow: 2px 2px 8px black;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #fff;
}

.dropdown {
  align-items: left;
  border-radius: 15px;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 125px;
  right:10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.dropdown-content a {
  color: black;
  padding: 22px 22px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
    </style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#slots_details").hide();
        $("#history_details").hide();
        $("#slots").click(function(){
                $("#slots_details").show();
                $("#history_details").hide();
            });
        $("#history").click(function(){
            $("#history_details").show();
            $("#slots_details").hide();
        });

        $('.book-button').click(function(event) {
            if ("{{balance}}">=25)
            {

            var centerId = $(this).data('center-id');

            var data = JSON.stringify({ center_id: centerId });

            $.ajax({
                url: '/book-slot',
                type: 'POST',
                data: data,
                contentType: 'application/json',
                success: function(response) {
                // Handle the success response
                alert(response);
                
                location.reload();
                },
                error: function(xhr, status, error) {
                // Handle the error response
                alert.error(error);
                }
            });
        }
        else {
            alert("Wallet Balance is Low!!")
        }
            });
        

        });

        
    </script>
</head>

<body class="light">
    <nav class="navbar navbar-light">

        <span class="mx-auto">
            <h2>Vaccination Booking</h2>
        </span>
    </nav>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top:-65px; margin-right: 10px;">
        {% if show_logout %}
        
        <div class="dropdown" id="dropdown">
          
          <button onclick="myFunction()" class="dropbtn">{{name[0]}}</button>
          <div  id="myDropdown" class="dropdown-content" >
            <a  type="button" class="btn btn-primary" style="color: #000"><i style="float: left;" class="fas fa-wallet fa-lg"></i><span style="float: right;margin-top: -10px;">₹ {{balance}}</span></a>
            <a  href="/logout" type="button" class="btn btn-primary " style="color: #000;"><i style="float: left;" class="fas fa-sign-out-alt fa-lg"></i><span style="float: right;margin-top: -10px;">&nbsp;Logout</span></a>
          </div>
        </div>
        {% else %}
        <a class="btn btn-primary me-md-2" href="/login">Log-In</a>
        <a class="btn btn-primary" href="/signup">Sign-Up</a>
        {% endif %}
    </div>
  

    <br><br>
    <center><h1>Welcome {{name}}!</h1>
        <h2>Book Slot!</h2></center>
    <br><br>

    <center>
        <div class="d-grid gap-2 d-md-flex justify-content-center">
            <div>
                <button id="slots" class="btn btn-primary" type="button">Book Your Slot</button>
            </div>
            <div>
                <button id="history" class="btn btn-primary" type="button">Your Bookings</button>
            </div>
        </div>
    </center>
    <br><br>
    
            <div class="container" id="slots_details">
                <div class="card  text-center bg-secondary">
                    <div class="card-header text-dark bg-white">
                      <h2>Book Your Slot !</h2>
                    </div>
                    <div class="card-body text-white bg-secondary mb-3">
                        <div class="d-grid gap-2 d-md-flex justify-content-center">
                            <form action="/" method="POST" class="d-grid gap-2 d-md-flex justify-content-center">
                            
                                <div class="dropdown">
                                    <label for="center">Center Name</label>
                                    <select name="center" id="center" class="form-select">
                                        <option value="No Filter" selected>No Filter</option>
                                        {% for center in centers %}
                                        <option value="{{ center[0] }}">{{ center[0] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="dropdown">
                                    <label for="place">Place</label>
                                    <select name="place" id="place" class="form-select">
                                        <option value="No Filter" selected>No Filter</option>
                                        {% for place in places %}
                                        <option value="{{ place[0] }}">{{ place[0] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="dropdown">
                                    <label for="hour">Slot Time</label>
                                    <select name="hour" id="hour" class="form-select">
                                        <option value="No Filter" selected>No Filter</option> <!-- Added default option -->
                                        {% for hour in hours %}
                                        <option value="{{ hour[0] }}">{{ hour[0] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="dropdown">
                                    <label for="date">Date</label>
                                    <select name="date" id="date" class="form-select">
                                        <option value="No Filter" selected>No Filter</option>
                                        {% for date in dates %}
                                        <option value="{{ date[0] }}">{{ date[0] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Search Now</button>
                            </form>
                        </div>
                          
                    </div>
                    <div class="card-footer">
                        {% if rows %}
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Center Name</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Slot Timing</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Book Now</th>

                                </tr>
                            </thead>
                            <tbody class="table-primary">
                                {% for row in rows %}
                                <tr>
                                    {% if row[6] != None and row[7]==0 %}
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[9] }}</td>
                                    <td>{{ row[6]}}</td>
                                    <td>{{ row[8] }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary book-button" data-center-id="{{ row[0] }}">Book</button>
                                    </td>
                                    {% endif %}
                                </tr>
                                
                                {% endfor %}
                            </tbody>                            
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="container" id="history_details">
                <div class="card  text-center bg-secondary">
                    <div class="card-header text-white bg-dark ">
                      <h2>Bookings History!</h2>
                    </div>

                    <div class="card-footer">
                        {% if user_history %}
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Booking Id</th>
                                    <th scope="col">Center Name</th>
                                    <th scope="col">Center Place</th>
                                    <th scope="col">Slot Date</th>
                                    <th scope="col">Slot Time</th>

                                </tr>
                            </thead>
                            <tbody class="table-primary">
                                {% for row in user_history %}
                                <tr>
                                    {% if row[6] != None and row[9]==1 %}
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[5] }}</td>
                                    <td>{{ row[6]}}</td>
                                    <td>{{ row[8] }}</td>
                                    <td>{{ row[9] }}</td>
                                    {% endif %}
                                </tr>
                                
                                {% endfor %}
                            </tbody>                            
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>


    
    <br><br>
    
    <script>
        const body = document.querySelector('body');
        document.addEventListener("DOMContentLoaded", function() {
            var dropdownItems = document.querySelectorAll(".dropdown-menu a");
            dropdownItems.forEach(function(item) {
                item.addEventListener("click", function() {
                    var selectedOption = this.textContent;
                    var dropdownButton = this.closest(".dropdown").querySelector(".dropdown-toggle");
                    dropdownButton.textContent = selectedOption;
                });
            });
        });
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>

</html>