<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/009/221/366/original/injection-vaccine-icon-filled-line-syringe-and-drugs-bottle-logo-medicine-and-healthcare-design-symbol-illustration-free-vector.jpg" type="image/icon type">
    <title>Vaccination-Booking</title>

    <style>

.logout{
    position:absolute;
    display:flex;
    justify-items: flex-end;
    border:0.16em solid rgba(203, 244, 21, 0);
    border-radius:4em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Gill Sans", sans-serif; 
    color:black;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    font-style: italic;
    font-size: 20px;
    line-height: 1.7;
}
.dropbtn {
  background-color: #FFEBA7;
  width:50px;
  height:50px;
  font-weight: bolder;
  border-radius: 50%;
  color: black;
  font-size: 26px;
  border: none;
  cursor: pointer;
}
.css1{
  font-size:50px;
  font-family: georgia;
  font-style:italic;
  font-weight:bold;
  color:#FFEBA7;
  text-shadow: 2px 2px 8px black;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #fff;
}

.dropdown {
  align-items: left;
  border-radius: 15px;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 125px;
  right:10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.dropdown-content a {
  color: black;
  padding: 22px 22px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
    </style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#covid_details").show();
        $("#slots_details").hide();
        $("#history_details").hide();

        $("#slots").click(function(){
                $("#slots_details").show();
                $("#covid_details").hide();
                $("#history_details").hide();
                $("#animateddiv").hide();
            });

        $("#history").click(function(){
            $("#history_details").show();
            $("#covid_details").hide();
            $("#slots_details").hide();
            $("#animateddiv").hide();
        });

        $('.book-button').click(function(event) {
            if ("{{balance}}">=25)
            {

            var centerId = $(this).data('center-id');

            var data = JSON.stringify({ center_id: centerId });

            $.ajax({
                url: '/book-slot',
                type: 'POST',
                data: data,
                contentType: 'application/json',
                success: function(response) {
                alert(response);
                
                location.reload();
                },
                error: function(xhr, status, error) {
                alert(error);
                }
            });
        }
        else {
            alert("Your Balance is Low!!")
        }
            });
        });
    </script>
</head>

<body class="light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <b><h2>Welcome</h2></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a id="slots" type="button">Book Your Slot</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </li>
        <li class="nav-item">
          <a id="history" type="button">Your Bookings</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
      </li>
         <li class="nav-item">
        <a style="text-decoration:none; color:black;" href="/about">Corona Stats</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </li>
         <li class="nav-item">
        <a style="text-decoration:none; color:black;" href="/protect">Protect Yourself</a>
      </li>
    </ul>
  </div>
</nav>


    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top:-65px; margin-right: 10px;">
        {% if show_logout %}
        
        <div class="dropdown" id="dropdown">
          
          <button onclick="myFunction()" class="dropbtn">{{name[0]}}</button>
          <div  id="myDropdown" class="dropdown-content" >
             <a type="button" class="btn btn-primary" style="color: #000"><i style="float: left;" class="fa-solid fa-user"></i><span style="float: right;margin-top: -10px;">{{name}}</a>
            <a  type="button" class="btn btn-primary" style="color: #000"><i style="float: left;" class="fas fa-wallet fa-lg"></i><span style="float: right;margin-top: -10px;">₹ {{balance}}</span></a>
            <a  href="/logout" type="button" class="btn btn-primary " style="color: #000;"><i style="float: left;" class="fas fa-sign-out-alt fa-lg"></i><span style="float: right;margin-top: -10px;">&nbsp;Logout</span></a>
          </div>
        </div>
        {% else %}
        <a class="btn btn-primary me-md-2" href="/login">Log-In</a>
        <a class="btn btn-primary" href="/signup">Sign-Up</a>
        {% endif %}
    </div>

    <section id="covid_details" class="section-1">
    <div class="container" style="margin-top: 6rem;">
        <div class="row">
            <div class="col-md-4">
                <h3>About Corona Virus Booking System</h3>
                <p>The Corona Virus Booking System provides a user-friendly platform for individuals to efficiently manage their vaccination-related tasks. Users can easily log in to their accounts, ensuring secure access to the system. Upon signing up, the system enforces appropriate data validations to ensure accurate user information.</p>
                <p>The system allows users to conveniently search for vaccination centers and obtain information about their working hours. Users can then apply for a vaccination slot, with a limit of only 10 candidates per day to ensure optimal scheduling. After completing their tasks, users can log out to secure their accounts.</p>
            </div>
             <div class="col-md-6" style="margin-left:6rem;">
              <div class="panel text-left">
                <h1>Covid Vaccination</h1>
                <p class="pt-4">
                  To bring this pandemic to an end, a large share of the world needs to be immune to the virus. The safest way to achieve this is with a vaccine.Vaccines are a technology that humanity has often relied on in the past to bring down the death toll of infectious diseases.
                </p>
                <p class="pt-4">
                  Within less than 12 months after the beginning of the pandemic, several research teams rose to the challenge and developed vaccines that protect from SARS-CoV-2.
                    The challenge is to make these vaccines available to people around the world. It will be key that people in all countries — not just in rich countries — receive the required protection. To track this effort we at Our World in Data are building the international vaccination dataset that we make available on this page.
                </p>
              </div>
        </div>
    </div>
</section>


    <br><br>
    <br><br>
            <div class="container" id="slots_details">
                <div class="card  text-center bg-light">
                    <div class="card-header text-dark bg-white">
                      <h2>Book Your Slot !</h2>
                    </div>
                    <div class="card-body text-white bg-light mb-3">
                        <div class="d-grid gap-2 d-md-flex justify-content-center">
                            <form action="/" method="POST" class="d-grid gap-2 d-md-flex justify-content-center">
                            
                                <div class="dropdown">
                                    <label for="center" class="text-dark">Center Name</label>
                                    <select name="center" id="center" class="form-select">
                                        <option value="No Filter" selected>No Filter</option>
                                        {% for center in centers %}
                                        <option value="{{ center[0] }}">{{ center[0] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="dropdown">
                                    <label for="place" class="text-dark">Place</label>
                                    <select name="place" id="place" class="form-select">
                                        <option value="No Filter" selected>No Filter</option>
                                        {% for place in places %}
                                        <option value="{{ place[0] }}">{{ place[0] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="dropdown">
                                    <label for="hour" class="text-dark">Slot Time</label>
                                    <select name="hour" id="hour" class="form-select">
                                        <option value="No Filter" selected>No Filter</option>
                                        {% for hour in hours %}
                                        <option value="{{ hour[0] }}">{{ hour[0] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="dropdown">
                                    <label for="date" class="text-dark">Date</label>
                                    <select name="date" id="date" class="form-select">
                                        <option value="No Filter" selected>No Filter</option>
                                        {% for date in dates %}
                                        <option value="{{ date[0] }}">{{ date[0] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Search Now</button>
                            </form>
                        </div>

                    </div>
                    <div class="card-footer">
                        {% if rows %}
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Center Name</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Slot Timing</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Book Now</th>

                                </tr>
                            </thead>
                            <tbody class="table-primary">
                                {% for row in rows %}
                                <tr>
                                    {% if row[6] != None and row[7]==0 %}
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[9] }}</td>
                                    <td>{{ row[6]}}</td>
                                    <td>{{ row[8] }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary book-button" data-center-id="{{ row[0] }}">Book</button>
                                    </td>
                                    {% endif %}
                                </tr>
                                
                                {% endfor %}
                            </tbody>                            
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="container" id="history_details">
                <div class="card  text-center bg-light">
                    <div class="card-header text-dark bg-light ">
                      <h2>Bookings History!</h2>
                    </div>

                    <div class="card-footer">
                        {% if user_history %}
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Booking Id</th>
                                    <th scope="col">Center Name</th>
                                    <th scope="col">Center Place</th>
                                    <th scope="col">Slot Date</th>
                                    <th scope="col">Slot Time</th>

                                </tr>
                            </thead>
                            <tbody class="table-primary">
                                {% for row in user_history %}
                                <tr>
                                    {% if row[8] != None and row[9]==1 %}
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[5] }}</td>
                                    <td>{{ row[6]}}</td>
                                    <td>{{ row[7] }}</td>
                                    <td>{{ row[8] }}</td>
                                    {% endif %}
                                </tr>
                                
                                {% endfor %}
                            </tbody>                            
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>


    
    <br><br>
    
    <script>
        const body = document.querySelector('body');
        document.addEventListener("DOMContentLoaded", function() {
            var dropdownItems = document.querySelectorAll(".dropdown-menu a");
            dropdownItems.forEach(function(item) {
                item.addEventListener("click", function() {
                    var selectedOption = this.textContent;
                    var dropdownButton = this.closest(".dropdown").querySelector(".dropdown-toggle");
                    dropdownButton.textContent = selectedOption;
                });
            });
        });
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }

</script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Patua+One&family=Rubik:wght@300&family=Sniglet&display=swap');

        body.light {
            background-color: #fff;
            color: #000000;
        }
        * {
        box-sizing: border-box;
        }

    :root {
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --light-gray: rgba(255, 255, 255, 0.877);
    }
    .section-1 {
    padding: 0 0;
}


.results{
    padding:10px;
    margin-top: 3em;
}
<!--.section-1 .row .col-md-6:last-child {-->
<!--    position: relative;-->
<!--}-->

.section-1 .row .col-md-6 .panel {
    position: relative;
    top: -8vmin;
    left: 3vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.7);
}

</style>
</html>
